@forward '../../_vars.scss';
@use '../../_vars.scss' as *;

$gallery-height: 240px;

$scrollbar-body: rgba(0, 0, 0, 0.01);
$scrollbar-thumb: $alt-background-color;

.gallery-wrapper {
  position: relative;
}

.gallery-strip {
  display: block;
  list-style: none;
  margin: 0 0 (-$spacing-unit);
  height: $gallery-height + $spacing-unit;
  line-height: $gallery-height;

  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;

  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb $scrollbar-body;

  &__wrapper {
    @extend %wrapper;
    padding-left: $spacing-half;
    padding-right: $spacing-half;

    @include media-query($on-laptop) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &::-webkit-scrollbar {
    height: $spacing-quart;

    &-track {
      background: $scrollbar-body;
    }

    &-thumb {
      background-color: $scrollbar-thumb;
      border: none;
    }
  }

  &__nav {
    background-color: rgba(black, 0.5);
    padding: $spacing-half $spacing-quart;
    width: $spacing-unit;
    height: $spacing-unit;
    line-height: $spacing-unit;
    margin-top: -$spacing-half * 3;
    position: absolute;

    cursor: pointer;
    z-index: 2;

    &--left {
      transition: left 0.5s ease-in;
      border-radius: 0 50% 50% 0;
      top: 50%;
      left: 0;

      &.is-disabled {
        left: -$spacing-unit * 3;
      }
    }

    &--right {
      transition: right 0.5s ease-in;
      border-radius: 50% 0 0 50%;
      top: 50%;
      right: 0;

      &.is-disabled {
        right: -$spacing-unit * 3;
      }
    }

    & > svg,
    & > img {
      height: $spacing-unit * 1.5;
      width: $spacing-unit * 1.5;
      position: absolute;
      margin: auto;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;

      path {
        stroke: rgba(250, 250, 250, 0.85);
      }
    }
  }
}

.gallery-strip__item {
  position: relative;
  display: inline-block;
  list-style: none;
  float: none;
  margin: 0 $spacing-half;
  height: $gallery-height;
  width: auto;

  min-width: 120px;
  background: $alt-background-color;

  cursor: pointer;

  scroll-margin-left: $spacing-unit * 2.5;

  &:last-child {
    margin-right: $spacing-unit * 2;
  }

  &:after {
    @extend %gradient;
    -webkit-transition: opacity 0.3s linear 0.01s;
    transition: opacity 0.3s linear 0.01s;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    content: '';
  }

  &.is-selectred:after {
    opacity: 1;
  }
}

.gallery-strip__img {
  display: block;
  height: $gallery-height;
  width: auto;
}
